body{
    margin: 0;
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        ".      main   aside  ."
        "footer footer footer footer";
    grid-template-columns: 1fr 660px 320px 1fr;       /* main | sidebar */
    grid-template-rows: auto 1fr auto;    /* header | content | footer */
    gap: 24px;
}

header {
    grid-area: header;
    background: #63B3ED;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 12px;
    min-height: 220px;
}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,.06);
}

article h2{
    font-size: 32px;
    color: #48BB78;
}

.byline {
    color: #718096;
}

#socials h3, #archives h3{
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#socials a, #archives a{
    color: #4299E1;
}

#about {
    background-color: #E2E8F0;
    padding: 16px;
}
#about h3{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
    padding: 14x 16px;
    text-align: center;
}

.float-left{
    width: 220px;
    height: auto;
    float: left;
    margin: 0 1rem 0.5rem 0;
}

.float-right{
    width: 220px;
    height: auto;
    float: right;
    margin: 0 0 0.5rem 1rem;
}

article {
    overflow: auto;
    margin-bottom: 32px;
    padding-bottom: 24px;
}

/* Putting each region into the named grid areas since I forgot :) */
aside{
    grid-area: aside;
}
main{
    grid-area: main;
    padding: 0 16px;
}